*{
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    font-family: openSansLight;
}

@font-face {
    font-family: openSansLight;
    src: url(opensanslight.ttf);
}
.main-heading {
    margin-top:
}
button {
    background-color: #ff0009;
    box-shadow: 5px 5px 5px #434345;
    color: white;
    border-radius: 2%;
    left: 0;
    top: 0;
}
.now-button {
    height: 10vh;
    font-size: 5vh;
}

.prev, .next{
    font-size: 3vh;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
}

.landing {
    border: 1px solid black;
}

.verb, .noun {
}