* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: arial;
    box-sizing: border-box;
}

body {
    background-image: url('image/background.jpg')
}

@font-face {
    font-family: openSansLight;
    src: url(opensanslight.ttf);
}

.main-heading {
    font-size: 6em;
    text-shadow: 5px 5px 5px #000000;
    color: white;
}

.verb-cont {
    text-align: center;
}

p {
    font-size: 4em;
    font-weight: bold;
    text-shadow: 4px 4px 4px #000000;
    color: white;
    font-weight: bold;
}

.noun {
    padding: 0 20vw;
}

button {
    box-shadow: 5px 5px 5px #434345;
    color: white;
    left: 0;
    top: 0;
}

.now-button {
    height: 10vh;
    font-size: 5vh;
    margin-top: 5vh;
    font-weight: bold;
    background-color: rgba(68,181,255,0.8);
}

.now-button:hover {
    background-color: #6bafff;
}

.prev, .next {
    font-size: 3vh;
    background-color: red;
    padding: 3vh;
}

.verb, input{
    font-size: 3em;
    border: 1px solid #b9b9b9;
    margin: 3vh;
    box-shadow: 6px 6px 6px black;
    background-color: rgba(255,255,255,0.6);
}

#read, #watch, #listen {
    height: 80vh;
}

.tweets {
    height: 35%;
    padding: 2vh 0;
    margin: 1vh 0;
    text-align: left;
    position: relative;
}

.tweets-pic {
    position: relative;
    height: 26%;
    width: 9%;
    left: 6.95%;
}

.tweets-username{
    text-decoration: underline;
    height: 17%;
    text-align: left;
    font-weight: bold;
}

.tweets-content {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.89);
    width: 72%;
    height: 99%;
    border-radius: 1%;
}

.text {
    position: relative;
    text-align: left;
    height: 40%;
    top: 5%;
}

.shares {
    position: relative;
    height: 17%;
    top: 5%;
    text-align: left;
}

#albumArt {
    height: 50%;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 10px 10px 10px black;
}

#albumName, #songName, #audioLink, #artistName {
    height: 10%;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 10px 10px 10px black;
}

#audioControls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 10px 10px 10px black;
}

#error {
    color: white;
    text-shadow: 3px 3px 3px black;
    font-weight: bold;
    top: 30vh;
}